<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="app.android.gambit"
	android:versionCode="1"
	android:versionName="0.0.1">

	<uses-sdk android:minSdkVersion="10" />

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.GET_ACCOUNTS" />
	<uses-permission android:name="android.permission.USE_CREDENTIALS" />
	<uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />

	<application
		android:name="GambitApplication"
		android:icon="@drawable/ic_launcher_gambit"
		android:label="@string/application_name"
		android:theme="@android:style/Theme.Light.NoTitleBar">

		<activity
			android:theme="@style/Theme.Gambit"
			android:name=".ui.DecksListActivity"
			android:label="@string/title_decks" >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity
			android:theme="@style/Theme.Gambit"
			android:name=".ui.DeckCreationActivity"
			android:label="@string/title_deck_creation" >
		</activity>

		<activity
			android:theme="@style/Theme.Gambit"
			android:name=".ui.DeckRenamingActivity"
			android:label="@string/title_deck_renaming" >
		</activity>

		<activity
			android:theme="@style/Theme.Gambit"
			android:name=".ui.CardCreationActivity"
			android:label="@string/title_card_creation" >
		</activity>

		<activity
			android:theme="@style/Theme.Gambit"
			android:name=".ui.CardEditingActivity"
			android:label="@string/title_card_editing" >
		</activity>

		<activity
			android:theme="@style/Theme.Gambit"
			android:name=".ui.CardsListActivity"
			android:label="@string/title_cards" >
		</activity>

		<activity
			android:name=".ui.CardsViewingActivity"
			android:configChanges="keyboardHidden|orientation">
		</activity>
	</application>

</manifest>
