<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="app.android.simpleflashcards"
	android:versionCode="1"
	android:versionName="0.0.1" >

	<uses-sdk android:minSdkVersion="10" />

	<application
		android:name="SimpleFlashcardsApplication"
		android:icon="@drawable/icon"
		android:label="@string/applicationName"
		android:theme="@android:style/Theme.Light.NoTitleBar" >
		<activity android:name=".ui.DecksListActivity" >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".ui.DeckCreationActivity" >
		</activity>
		<activity android:name=".ui.CardsListActivity" >
		</activity>
		<activity android:name=".ui.CardCreationActivity" >
		</activity>
		<activity
			android:name=".ui.CardsViewingActivity"
			android:configChanges="keyboardHidden|orientation" >
		</activity>
		<activity android:name=".ui.DeckEditingActivity" >
		</activity>
		<activity android:name=".ui.CardEditingActivity" >
		</activity>
	</application>

</manifest>